body {
  background-color: #5D9CA7;
  font-family: 'Questrial', sans-serif;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.caption-color {
  color: white;
  font-size: 24px;
  padding: 100px 100px 0 100px;
}