body {
  background-color: #5D9CA7;
  font-family: 'Questrial', sans-serif;
}

/* App.js */
.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

/* ./Components/Home */
.caption-color {
  color: white;
  font-size: 24px;
  padding: 100px 100px 0 100px;
}

/* ./Components/Login */
.login {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

/* ./Components/SignUpForm */
.signup {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

/* ./Components/Profile */
.profile {
  margin: 50px;
}

.profile-pic {
  height: auto;
  width: 300px;
}

/* ./Components/Closet */
.closet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.closet-title {
  margin-bottom: 30px;
}